".text.html":
  "Anchor#":
    "prefix": "a#",
    "body": "<a id=\"$1\" href=\"${2:#}\">$3</a>$0"
  ,
  "Anchor.":
    "prefix": "a.",
    "body": "<a class=\"$1\" href=\"${2:#}\">$3</a>$0"
  ,
  "Abbreviation#":
    "prefix": "abbr#",
    "body": "<abbr id=\"$1\" title=\"$2\">$3</abbr>$0"
  ,
  "Abbreviation.":
    "prefix": "abbr.",
    "body": "<abbr class=\"$1\" title=\"$2\">$3</abbr>$0"
  ,
  "Area#":
    "prefix": "area#",
    "body": "<area id=\"$1\" ${2:shape=\"${3:default}\"} coords=\"$4\" ${5:href=\"${6:#}\"} />$0"
  ,
  "Area.":
    "prefix": "area.",
    "body": "<area class=\"$1\" ${2:shape=\"${3:default}\"} coords=\"$4\" ${5:href=\"${6:#}\"} />$0"
  ,
  "Article#":
    "prefix": "article#",
    "body": "<article id=\"$1\">\n\t$2\n</article>"
  ,
  "Aside#":
    "prefix": "aside#",
    "body": "<aside id=\"$1\">\n\t$2\n</aside>"
  ,
  "Aside.":
    "prefix": "aside.",
    "body": "<aside class=\"$1\">\n\t$2\n</aside>"
  ,
  "Audio#":
    "prefix": "audio#",
    "body": "<audio id=\"$1\" src=\"$2\">\n\t$3\n</audio>"
  ,
  "Audio.":
    "prefix": "audio.",
    "body": "<audio class=\"$1\" src=\"$2\">\n\t$3\n</audio>"
  ,
  "Bold#":
    "prefix": "b#",
    "body": "<b id=\"$1\">$2</b>$0"
  ,
  "Bold.":
    "prefix": "b.",
    "body": "<b class=\"$1\">$2</b>$0"
  ,
  "Base#":
    "prefix": "base#",
    "body": "<base id=\"$1\" href=\"${2:#}\" target=\"${3:_blank}\" />$0"
  ,
  "Base.":
    "prefix": "base.",
    "body": "<base class=\"$1\" href=\"${2:#}\" target=\"${3:_blank}\" />$0"
  ,
  "Bi-Directional Isolation#":
    "prefix": "bdi#",
    "body": "<bdi id=\"$1\" dir=\"${2:auto}\">$3</bdi>$0"
  ,
  "Bi-Directional Isolation.":
    "prefix": "bdi.",
    "body": "<bdi class=\"$1\" dir=\"${2:auto}\">$3</bdi>$0"
  ,
  "Bi-Directional Override#":
    "prefix": "bdo#",
    "body": "<bdo id=\"$1\" dir=\"${2:auto}\">$3</bdo>$0"
  ,
  "Bi-Directional Override.":
    "prefix": "bdo.",
    "body": "<bdo class=\"$1\" dir=\"${2:auto}\">$3</bdo>$0"
  ,
  "Blockquote#":
    "prefix": "blockquote#",
    "body": "<blockquote id=\"$1\" cite=\"${2:http://}\">\n\t$3\n</blockquote>"
  ,
  "Blockquote.":
    "prefix": "blockquote.",
    "body": "<blockquote class=\"$1\" cite=\"${2:http://}\">\n\t$3\n</blockquote>"
  ,
  "Line Breaker#":
    "prefix": "br#",
    "body": "<br id=\"$1\">$0"
  ,
  "Line Breaker.":
    "prefix": "br.",
    "body": "<br class=\"$1\">$0"
  ,
  "Button#":
    "prefix": "button#",
    "body": "<button id=\"$1\" name=\"${2:button}\">$3</button>$0"
  ,
  "Button.":
    "prefix": "button.",
    "body": "<button class=\"$1\" name=\"${2:button}\">$3</button>$0"
  ,
  "Caption#":
    "prefix": "caption#",
    "body": "<caption id=\"$1\">$2</caption>$0"
  ,
  "Caption.":
    "prefix": "caption.",
    "body": "<caption class=\"$1\">$2</caption>$0"
  ,
  "Citation#":
    "prefix": "cite#",
    "body": "<cite id=\"$1\">$2</cite>$0"
  ,
  "Citation.":
    "prefix": "cite.",
    "body": "<cite class=\"$1\">$2</cite>$0"
  ,
  "Code#":
    "prefix": "code#",
    "body": "<code id=\"$1\">$2</code>$0"
  ,
  "Code.":
    "prefix": "code.",
    "body": "<code class=\"$1\">$2</code>$0"
  ,
  "Column#":
    "prefix": "col#",
    "body": "<col id=\"$1\">$2</col>$0"
  ,
  "Column.":
    "prefix": "col.",
    "body": "<col class=\"$1\">$2</col>$0"
  ,
  "Column Group#":
    "prefix": "colgroup#",
    "body": "<colgroup id=\"$1\">$2</colgroup>$0"
  ,
  "Column Group.":
    "prefix": "colgroup.",
    "body": "<colgroup class=\"$1\">$2</colgroup>$0"
  ,
  "Content#":
    "prefix": "content#",
    "body": "<content id=\"$1\" select=\"$2\">$3</content>$0"
  ,
  "Content.":
    "prefix": "content.",
    "body": "<content class=\"$1\" select=\"$2\">$3</content>$0"
  ,
  "Data#":
    "prefix": "data#",
    "body": "<data id=\"$1\" value=\"$2\">$3</data>$0"
  ,
  "Data.":
    "prefix": "data.",
    "body": "<data class=\"$1\" value=\"$2\">$3</data>$0"
  ,
  "Description#":
    "prefix": "dd#",
    "body": "<dd id=\"$1\">$2</dd>$0"
  ,
  "Description.":
    "prefix": "dd.",
    "body": "<dd class=\"$1\">$2</dd>$0"
  ,
  "Deleted Text#":
    "prefix": "del#",
    "body": "<del id=\"$1\">$2</del>$0"
  ,
  "Deleted Text.":
    "prefix": "del.",
    "body": "<del class=\"$1\">$2</del>$0"
  ,
  "Details#":
    "prefix": "details#",
    "body": "<details id=\"$1\" ${2:open}>$3</details>$0"
  ,
  "Details.":
    "prefix": "details.",
    "body": "<details class=\"$1\" ${2:open}>$3</details>$0"
  ,
  "Definition#":
    "prefix": "dfn#",
    "body": "<dfn id=\"$1\">$2</dfn>$0"
  ,
  "Definition.":
    "prefix": "dfn.",
    "body": "<dfn class=\"$1\">$2</dfn>$0"
  ,
  "Definition Term#":
    "prefix": "dt#",
    "body": "<dt id=\"$1\">$2</dt>$0"
  ,
  "Definition Term.":
    "prefix": "dt.",
    "body": "<dt class=\"$1\">$2</dt>$0"
  ,
  "Div#":
    "prefix": "div#",
    "body": "<div id=\"$1\">\n\t$2\n</div>$0"
  ,
  "Div,":
    "prefix": "div.",
    "body": "<div class=\"$1\">\n\t$2\n</div>$0"
  ,
  "Emphasis#":
    "prefix": "em#",
    "body": "<em id=\"$1\">$2</em>$0"
  ,
  "Embed#":
    "prefix": "embed#",
    "body": "<embed id=\"$1\" type=\"${2:video/quicktime}\" src=\"${3:#}\" width=\"${4:300}\" height=\"${5:300}\">$0"
  ,
  "Embed.":
    "prefix": "embed.",
    "body": "<embed class=\"$1\" type=\"${2:video/quicktime}\" src=\"${3:#}\" width=\"${4:300}\" height=\"${5:300}\">$0"
  ,
  "Fieldset#":
    "prefix": "fieldset#",
    "body": "<fieldset id=\"$1\">$2</fieldset>$0"
  ,
  "Fieldset.":
    "prefix": "fieldset.",
    "body": "<fieldset class=\"$1\">$2</fieldset>$0"
  ,
  "Figure Caption#":
    "prefix": "figcaption#",
    "body": "<figcaption id=\"$1\">$2</figcaption>$0"
  ,
  "Figure Caption.":
    "prefix": "figcaption#",
    "body": "<figcaption class=\"$1\">$2</figcaption>$0"
  ,
  "Figure#":
    "prefix": "figure#",
    "body": "<figure id=\"$1\">$2</figure>$0"
  ,
  "Figure.":
    "prefix": "figure.",
    "body": "<figure class=\"$1\">$2</figure>$0"
  ,
  "Footer#":
    "prefix": "footer#",
    "body": "<footer id=\"$1\">$2</footer>$0"
  ,
  "Footer.":
    "prefix": "footer.",
    "body": "<footer class=\"$1\">$2</footer>$0"
  ,
  "Form#":
    "prefix": "form#",
    "body": "<form id=\"${1:form_id}\" action=\"${2:index.html}\" method=\"${3:post}\">\n\t$4\n</form>"
  ,
  "Form.":
    "prefix": "form.",
    "body": "<form id=\"${1:form_id}\" class=\"$2\" action=\"${3:index.html}\" method=\"${4:post}\">\n\t$5\n</form>"
  ,
  "Heading 1#":
    "prefix": "h1#",
    "body": "<h1 id=\"$1\">$2</h1>$0"
  ,
  "Heading 1.":
    "prefix": "h1.",
    "body": "<h1 class=\"$1\">$2</h1>$0"
  ,
  "Heading 2#":
    "prefix": "h2#",
    "body": "<h2 id=\"$1\">$2</h2>$0"
  ,
  "Heading 2.":
    "prefix": "h2.",
    "body": "<h2 class=\"$1\">$2</h2>$0"
  ,
  "Heading 3#":
    "prefix": "h3#",
    "body": "<h3 id=\"$1\">$2</h3>$0"
  ,
  "Heading 3.":
    "prefix": "h3.",
    "body": "<h3 class=\"$1\">$2</h3>$0"
  ,
  "Heading 4#":
    "prefix": "h4#",
    "body": "<h4 id=\"$1\">$2</h4>$0"
  ,
  "Heading 4.":
    "prefix": "h4.",
    "body": "<h4 class=\"$1\">$2</h4>$0"
  ,
  "Heading 5#":
    "prefix": "h5#",
    "body": "<h5 id=\"$1\">$2</h5>$0"
  ,
  "Heading 5.":
    "prefix": "h5.",
    "body": "<h5 class=\"$1\">$2</h5>$0"
  ,
  "Heading 6#":
    "prefix": "h6#",
    "body": "<h6 id=\"$1\">$2</h6>$0"
  ,
  "Heading 6.":
    "prefix": "h6.",
    "body": "<h6 class=\"$1\">$2</h6>$0"
  ,
  "Head#":
    "prefix": "head#",
    "body": "<head id=\"$1\">\n\t$2\n</head>"
  ,
  "Head.":
    "prefix": "head.",
    "body": "<head class=\"$1\">\n\t$2\n</head>"
  ,
  "Header#":
    "prefix": "header#",
    "body": "<header id=\"$1\">\n\t$2\n</header>"
  ,
  "Header.":
    "prefix": "header.",
    "body": "<header class=\"$1\">\n\t$2\n</header>"
  ,
  "Horizontal Rule#":
    "prefix": "hr#",
    "body": "<hr id=\"$1\">$0"
  ,
  "Horizontal Rule.":
    "prefix": "hr.",
    "body": "<hr class=\"$1\">$0"
  ,
  "Italic#":
    "prefix": "i#",
    "body": "<i id=\"$1\">$2</i>$0"
  ,
  "Italic.":
    "prefix": "i.",
    "body": "<i class=\"$1\">$2</i>$0"
  ,
  "Inline Frame#":
    "prefix": "iframe#",
    "body": "<iframe id=\"$1\" src=\"$2\" width=\"$3\" height=\"$4\">$5</iframe>$0"
  ,
  "Inline Frame.":
    "prefix": "iframe.",
    "body": "<iframe class=\"$1\" src=\"$2\" width=\"$3\" height=\"$4\">$5</iframe>$0"
  ,
  "Input#":
    "prefix": "input#",
    "body": "<input id=\"$1\" type=\"${2:button}\" name=\"${3:some_name}\" value=\"$4\">$0"
  ,
  "Input.":
    "prefix": "input.",
    "body": "<input class=\"$1\" type=\"${2:button}\" name=\"${3:some_name}\" value=\"$4\">$0"
  ,
  "Image#":
    "prefix": "img#",
    "body": "<img id=\"$1\" src=\"$2\" alt=\"$3\" />$0"
  ,
  "Image.":
    "prefix": "img.",
    "body": "<img class=\"$1\" src=\"$2\" alt=\"$3\" />$0"
  ,
  "Inserted Text#":
    "prefix": "ins#",
    "body": "<ins id=\"$1\">$2</ins>$0"
  ,
  "Inserted Text.":
    "prefix": "ins.",
    "body": "<ins class=\"$1\">$2</ins>$0"
  ,
  "Keyboard Input#":
    "prefix": "kbd#",
    "body": "<kbd id=\"$1\">$2</kbd>$0"
  ,
  "Keyboard Input.":
    "prefix": "kbd.",
    "body": "<kbd class=\"$1\">$2</kbd>$0"
  ,
  "Keygen#":
    "prefix": "keygen#",
    "body": "<keygen id=\"$1\" name=\"${2:name}\" challenge=\"${3:string}\" keytype=\"${4:RSA}\" keyparams=\"${5:medium}\">$0"
  ,
  "Keygen.":
    "prefix": "keygen.",
    "body": "<keygen class=\"$1\" name=\"${2:name}\" challenge=\"${3:string}\" keytype=\"${4:RSA}\" keyparams=\"${5:medium}\">$0"
  ,
  "Label#":
    "prefix": "label#",
    "body": "<label id=\"$1\" ${2:for=\"$3\"}></label>$0"
  ,
  "Label.":
    "prefix": "label.",
    "body": "<label class=\"$1\" ${2:for=\"$3\"}></label>$0"
  ,
  "Legend#":
    "prefix": "legend#",
    "body": "<legend id=\"$1\">$2</legend>$0"
  ,
  "Legend.":
    "prefix": "legend.",
    "body": "<legend class=\"$1\">$2</legend>$0"
  ,
  "List Item#":
    "prefix": "li#",
    "body": "<li id=\"$1\">$2</li>$0"
  ,
  "List Item.":
    "prefix": "li.",
    "body": "<li class=\"$1\">$2</li>$0"
  ,
  "Link#":
    "prefix": "link#",
    "body": "<link id=\"$1\" rel=\"${2:stylesheet}\" href=\"${3:/css/master.css}\" media=\"${4:screen}\" title=\"${5:no title}\" charset=\"${6:utf-8}\">$0"
  ,
  "Link.":
    "prefix": "link.",
    "body": "<link class=\"$1\" rel=\"${2:stylesheet}\" href=\"${3:/css/master.css}\" media=\"${4:screen}\" title=\"${5:no title}\" charset=\"${6:utf-8}\">$0"
  ,
  "Main#":
    "prefix": "main#",
    "body": "<main id=\"$1\">\n\t$2\n</main>"
  ,
  "Main.":
    "prefix": "main.",
    "body": "<main class=\"$1\">\n\t$2\n</main>"
  ,
  "Map#":
    "prefix": "map#",
    "body": "<map id=\"$1\">\n\t$2\n</map>"
  ,
  "Map.":
    "prefix": "map.",
    "body": "<map class=\"$1\">\n\t$2\n</map>"
  ,
  "Mark#":
    "prefix": "mark#",
    "body": "<mark id=\"$1\">$2</mark>$0"
  ,
  "Mark.":
    "prefix": "mark.",
    "body": "<mark class=\"$1\">$2</mark>$0"
  ,
  "Menu#":
    "prefix": "menu#",
    "body": "<menu id=\"$1\">\n\t$2\n</menu>"
  ,
  "Menu.":
    "prefix": "menu.",
    "body": "<menu class=\"$1\">\n\t$2\n</menu>"
  ,
  "Menu Item#":
    "prefix": "menuitem#",
    "body": "<menuitem id=\"$1\" type=\"${2:command}\" label=\"${3:Save}\">$0"
  ,
  "Menu Item,":
    "prefix": "menuitem.",
    "body": "<menuitem class=\"$1\" type=\"${2:command}\" label=\"${3:Save}\">$0"
  ,
  "Meter#":
    "prefix": "meter#",
    "body": "<meter id=\"$1\" min=\"${2:200}\" max=\"${3:500}\" value=\"${4:350}\">$0"
  ,
  "Meter.":
    "prefix": "meter.",
    "body": "<meter class=\"$1\" min=\"${2:200}\" max=\"${3:500}\" value=\"${4:350}\">$0"
  ,
  "Mail Anchor#":
    "prefix": "mailto#",
    "body": "<a id=\"$1\" href=\"mailto:${2:joe@example.com}?subject=${3:feedback}\">${4:email me}</a>$0"
  ,
  "Mail Anchor.":
    "prefix": "mailto.",
    "body": "<a class\"$1\" href=\"mailto:${2:joe@example.com}?subject=${3:feedback}\">${4:email me}</a>$0"
  ,
  "Meta#":
    "prefix": "meta#",
    "body": "<meta id=\"$1\" name=\"${2:name}\" content=\"${3:content}\">$0"
  ,
  "Meta.":
    "prefix": "meta.",
    "body": "<meta class=\"$1\" name=\"${2:name}\" content=\"${3:content}\">$0"
  ,
  "Navigation#":
    "prefix": "nav#",
    "body": "<nav id=\"$1\">\n\t$2\n</nav>"
  ,
  "Navigation.":
    "prefix": "nav.",
    "body": "<nav class=\"$1\">\n\t$2\n</nav>"
  ,
  "Noscript#":
    "prefix": "noscript#",
    "body": "<noscript id=\"$1\">\n\t$2\n</noscript>"
  ,
  "Noscript.":
    "prefix": "noscript.",
    "body": "<noscript class=\"$1\">\n\t$2\n</noscript>"
  ,
  "Object#":
    "prefix": "object#",
    "body": "<object id=\"$1\" data=\"${2:http://}\" type=\"${3:mimetype}\">$4</object>$0"
  ,
  "Object.":
    "prefix": "object.",
    "body": "<object class=\"$1\" data=\"${2:http://}\" type=\"${3:mimetype}\">$4</object>$0"
  ,
  "Ordered List#":
    "prefix": "ol#",
    "body": "<ol id=\"$1\">\n\t$2\n</ol>"
  ,
  "Ordered List.":
    "prefix": "ol.",
    "body": "<ol class=\"$1\">\n\t$2\n</ol>"
  ,
  "Option Group#":
    "prefix": "optgroup#",
    "body": "<optgroup id=\"$1\" label=\"${2:Group 1}\">\n\t$3\n</optgroup>"
  ,
  "Option Group.":
    "prefix": "optgroup.",
    "body": "<optgroup class=\"$1\" label=\"${2:Group 1}\">\n\t$3\n</optgroup>"
  ,
  "Option#":
    "prefix": "opt#",
    "body": "<option id=\"$1\"${2: value=\"${3:option}\"}>${4:option}</option>$0"
  ,
  "Option.":
    "prefix": "opt.",
    "body": "<option class=\"$1\"${2: value=\"${3:option}\"}>${4:option}</option>$0"
  ,
  "Output#":
    "prefix": "output#",
    "body": "<output id=\"$1\" name=\"${2:result}\">$3</output>$0"
  ,
  "Output.":
    "prefix": "output.",
    "body": "<output class=\"$1\" name=\"${2:result}\">$3</output>$0"
  ,
  "Paragraph#":
    "prefix": "p#",
    "body": "<p id=\"$1\">\n\t$2\n</p>"
  ,
  "Paragraph.":
    "prefix": "p.",
    "body": "<p class=\"$1\">\n\t$2\n</p>"
  ,
  "Section#":
    "prefix": "section#",
    "body": "<section id=\"$1\">\n\t$2\n</section>"
  ,
  "Section.":
    "prefix": "section.",
    "body": "<section class=\"$1\">\n\t$2\n</section>"
  ,
  "Small#":
    "prefix": "small#",
    "body": "<small id=\"$1\">$2</small>$0"
  ,
  "Small.":
    "prefix": "small.",
    "body": "<small class=\"$1\">$2</small>$0"
  ,
  "Span#":
    "prefix": "span#",
    "body": "<span id=\"$1\">$2</span>$0"
  ,
  "Span.":
    "prefix": "span.",
    "body": "<span class=\"$1\">$2</span>$0"
  ,
  "Table#":
    "prefix": "table#",
    "body": "<table id=\"$1\">\n\t$2\n</table>"
  ,
  "Table.":
    "prefix": "table.",
    "body": "<table class=\"$1\">\n\t$2\n</table>"
  ,
  "Table Cell#":
    "prefix": "td#",
    "body": "<td id=\"$1\">\n\t$2\n</td>"
  ,
  "Table Cell.":
    "prefix": "td.",
    "body": "<td class=\"$1\">\n\t$2\n</td>"
  ,
  "Table Header Cell#":
    "prefix": "th#",
    "body": "<th id=\"$1\">\n\t$2\n</th>"
  ,
  "Table Header Cell.":
    "prefix": "th.",
    "body": "<th class=\"$1\">\n\t$2\n</th>"
  ,
  "Table Row#":
    "prefix": "tr#",
    "body": "<tr id=\"$1\">\n\t$2\n</tr>"
  ,
  "Table Row.":
    "prefix": "tr.",
    "body": "<tr class=\"$1\">\n\t$2\n</tr>"
  ,
  "Unordered List#":
    "prefix": "ul#",
    "body": "<ul id=\"$1\">\n\t$2\n</ul>"
  ,
  "Unordered List.":
    "prefix": "ul.",
    "body": "<ul class=\"$1\">\n\t$2\n</ul>"
  ,
